html,body,div,
form,object,iframe,p,table,th,td,ul,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6,
button,input,span,em,s,b,u,a,img,select,header,footer,nav,menu,article,aside,main,section,time{ margin:0; padding:0}
input,select,label,img{ vertical-align:middle}
img{border:none}
s,u{text-decoration:none}
em,i{font-style:normal}
ul,li{ list-style:none}
table{ border-collapse:collapse;border-spacing:0}
.cle{zoom:1}
.cle:after{ clear:both; overflow:hidden;height:0px;  font-size:0; line-height:0;content:".";display:table;width: 100%}
.clear{zoom:1}
.clear:after{ clear:both; overflow:hidden; height:0px;  font-size:0; line-height:0;content:".";display:table;width: 100%}
.clearhidden{overflow: hidden;zoom:1;}
.clearfix{zoom:1}
.clearfix:after{ clear:both; overflow:hidden; height:0px;  font-size:0; line-height:0;content:".";display:table;width: 100%}
.none{ display:none}
.block{ display:block}
.inline-block{ display:inline-block;}

a{ color:#333;text-decoration:none}
a:hover{ text-decoration:underline}


input[type=text]:focus,input[type=password]:focus,textarea:focus,a:focus,button:focus{ outline:none}

body{font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53, Arial, Helvetica, sans-serif; font-size:14px;color:#333; line-height:normal;}
input,textarea,button,select{font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53, Arial, Helvetica, sans-serif; outline: none;}


input::-ms-clear{display:none;}

/*float*/


.fn-left{float: left;}
.fn-right{float: right;}

/*custom*/


.fn-text-left{ text-align: left;}
.fn-text-right{ text-align: right;}
.fn-text-center{ text-align: center;}

$minfontsize: 12;
$maxfontsize: 60;

@while $minfontsize < $maxfontsize {
  .fn-font-#{$minfontsize} { font-size: #{$minfontsize}px}
  $minfontsize: $minfontsize+2;
}


.fn-text-weak{opacity: 0.6;filter:alpha(opacity=60);-moz-opacity:0.6;}
.fn-font-bold{ font-weight: bold;}
.fn-font-nobold{ font-weight: normal;}

.fa.fn-font-16{ font-size: 16px}
.fa.fn-font-12{ font-size: 12px}
.fa.fn-font-14{ font-size: 14px;}
.fa.fn-font-18{ font-size: 18px;}
.fa.fn-font-20{ font-size: 20px;}
.fa.fn-font-24{ font-size: 24px;}
.fa.fn-font-30{ font-size: 30px;}
.fa.fn-font-40{ font-size: 40px;}

.t-c{text-align: center;}
.t-l{text-align: left;}
.t-r{text-align: right;}

a.fn-color-gray,.fn-color-gray{ color: #999999}
.fn-color-6{ color: #666}
.fn-color-3{ color: #333;}
.fn-color-1{ color: #3c94ff}
.fn-color-orange{ color: #f78c68}
.fn-color-red{color: #ff0000;}
.fn-color-y{ color: #FBA652;}
.fn-color-green{ color: #4cc3a5;}
.fn-color-blue{color: #3781d8}
.fn-color-89a4{color: #8999a4;}


/* 背景颜色 */
.bg-white{background-color: #fff;}
.bg-gray{background-color: #f7f7f7;}

/*padding*/

@each $i in 5,10,15,20,30 {
  .pd#{$i} {padding: #{$i}px}
  .pd-l-#{$i}{padding-left: #{$i}px}
  .pd-r-#{$i}{padding-right:#{$i}px}
  .pd-t-#{$i}{padding-top: #{$i}px}
  .pd-b-#{$i}{padding-bottom: #{$i}px}
 }

/*margin*/

@each $i in 5,10,15,20,30 {
  .mg#{$i} {margin: #{$i}px}
  .mg-l-#{$i}{margin-left: #{$i}px}
  .mg-r-#{$i}{margin-right:#{$i}px}
  .mg-t-#{$i}{margin-top: #{$i}px}
  .mg-b-#{$i}{margin-bottom: #{$i}px}
 }

.mg-center{margin: 0 auto;}


@each $i in 10,15,20,30 {
  .split-#{$i}{height:#{$i}px;display:block;}
 }



/*width*/
.w60{width: 60px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w160{width: 160px;}
.w170{width: 170px;}
.w180{width: 180px;}
.w240{width: 240px;}
.w386{width: 386px;}
.w460{width: 460px;}
.w500{width: 500px;}
.w630{width:630px;}
.w780{width:780px;}
input.w160{width:148px;}
input.w148{width:148px;}
input.w300{width:288px;}
input.w460{width: 460px;}
.w70{width: 60px;}

/*高度*/
.h70{height: 70px;}
.lh38{line-height: 38px;}
.lh30{line-height: 30px;}
.mh150{min-height: 150px;}
.mh80{min-height: 80px;}
.mh90{min-height: 90px;}